:root {

  //vars passed from electron app
  // --window-accent-color: #e8e8e8;
  // --window-title-bar-color: #e8e8e8;
  // --window-background-color: #f9f9f9;
  // --window-color: #1a1a1a;

  --window-title-bar-button-color-hover: rgba(255,255,255,.1);
  --window-title-bar-font: 12px/20px "Segoe UI", Arial, sans-serif;

  --debug-border: 0px dashed red;
  --fallback-title-bar-height: 37px;
  --footer-bar-height: 26px;
  --fallback-menu-bar-height: 25px;

  --element-padding: 3px;
  --env-titlebar-area-y: env(titlebar-area-y, 0);
  --env-titlebar-area-x: env(titlebar-area-x, 0);
  --env-titlebar-area-height: calc(env(titlebar-area-height, var(--fallback-title-bar-height)) + 1px );
  --env-titlebar-area-width: env(titlebar-area-width, 100%);
  --window-title-bar-button-width: 50px;
  --window-title-bar-button-width-default: env(titlebar-area-width, calc(100vw - ( var(--window-title-bar-button-width) * 3) ));
  --window-title-bar-button-width-calc: calc((100vw - var(--window-title-bar-button-width-default)) / 3);


  --focus-color: lightgreen;
  --focus-color-text: #000;
  --url-secure-color: lightgreen;
  --url-notsecure-color: red;
  --main-height-offset: calc(var(--env-titlebar-area-height) + var(--footer-bar-height));
  --main-top: calc(var(--env-titlebar-area-height) + 1px);
  --main-height: calc(100vh - var(--main-height-offset));

  color-scheme: light dark;

  --component-background-color: #ccc;

  --theme-color-light: #ccc;
  --theme-color-dark: #000;

}

@media (prefers-color-scheme: light) {
  :root {
    //vars passed from electron app
    // --window-accent-color: env(window-accent-color, #e8e8e8);
    // --window-title-bar-color: env(window-titlebar-color, #e8e8e8);
    // --window-background-color: env(window-background-color, #f9f9f9);
    // --window-color: env(window-color, #1a1a1a);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    //vars passed from electron app
    // --window-accent-color: env(window-accent-color, #202020);
    // --window-title-bar-color: env(window-titlebar-color-dark, #202020);
    // --window-background-color: env(window-background-color-dark, #272727);
    // --window-color: env(window-color-dark, #ffffff);
  }
}


@import 'css/window.scss';

@import 'css/utils.scss';

// window decoration
@import 'css/windowtitlebar.scss';
@import 'css/windownav.scss';
@import 'css/windowfooter.scss';
@import 'css/windowcontrols.scss';
@import 'css/windowheader.scss';

// style for grid
@import 'css/gridjs.scss';
@import 'css/gridjsMain.scss';
@import 'css/gridjsVertical.scss';
@import 'css/gridjsHorizontal.scss';

// content
@import 'css/contentleft.scss';
@import 'css/contentright.scss';
@import 'css/content.scss';
@import 'css/contentaddress.scss';
@import 'css/contentgutter.scss';

// asides
@import 'css/asideleft.scss';
@import 'css/asideright.scss';

// controls
// @import 'css/windowcontrols-checkboxslider.scss';
@import 'css/windowcontrols-checkboxslidertri.scss';

