
.contentaddress {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  height: 25px;
  font-size: 10px;
  //border: var(--debug-border);
  //background-color: var(--url-secure-color);
  // padding: var(--element-padding);
}

.contentaddress .urlstatus,
.contentaddress .urlstatus .notsecure {
  background-color: var(--url-notsecure-color);
}

.contentaddress .urlstatus .secure {
  background-color: var(--url-secure-color);
}

.contentaddress button {
  margin-right: var(--element-padding);
}

.contentaddress .url {
  flex: 1;
}

/*debug*/
.contentright .contentaddress,
.contentright .contentaddress .urlstatus {
  //background-color: var(--url-notsecure-color);
}
