/*nav*/
.windownav {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  overflow: hidden;
  padding: var(--element-padding);
}

.windownav button {
  margin-right: var(--element-padding);
}

