/*nav*/
.windownav {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  overflow: hidden;
  padding: var(--element-padding);
  height: var(--fallback-menu-bar-height);
  button {
    margin-right: var(--element-padding);
  }
}

