html, body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
body {
  // display: flex;
  // flex-flow: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--window-background-color);
    color: var(--window-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--window-background-color);
    color: var(--window-color);
  }
}

main {
  position: absolute;
  display: flex;
  flex-flow: column;
  left: 0;
  right: 0;
  height: var(--main-height);
  top: var(--main-top);
  // overflow-y: scroll;
}
